*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.debug {
  position: relative;
  width: 100%;
  height: 2572px; }
  .debug::after {
    content: "";
    background-image: url("../design/00-home-with-hovers.jpg");
    background-repeat: no-repeat;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; }

body {
  background-image: url(../assets/movie-images/pelicula-inocents.png);
  background-repeat: no-repeat; }

.head-buttons .btn-head {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.22px;
  line-height: 19px;
  padding: 11px 36px;
  margin-right: 8px;
  border-radius: 3px;
  border: none;
  background-color: rgba(51, 51, 51, 0.4);
  transition: all 400ms ease-out; }
  .head-buttons .btn-head a {
    text-decoration: none;
    color: #fafdfc; }
  .head-buttons .btn-head img {
    margin-right: 4px; }
    .head-buttons .btn-head img:last-child {
      display: none; }
  .head-buttons .btn-head:hover img:first-child {
    display: none; }
  .head-buttons .btn-head:hover img:last-child {
    display: inline-block; }
  .head-buttons .btn-head:hover {
    background-color: #e6e6e6; }
    .head-buttons .btn-head:hover a {
      color: #000; }

nav {
  width: 100%;
  height: 68px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center; }
  nav .logo {
    padding-left: 58px;
    padding-right: 45px;
    height: 24.86px; }

.nav-links {
  width: 380px;
  display: flex;
  justify-content: space-between; }
  .nav-links li {
    list-style: none; }
    .nav-links li a {
      color: #fafdfc;
      text-decoration: none;
      font-family: Helvetica;
      font-size: 15px;
      font-weight: normal; }
    .nav-links li.nav-selected a {
      font-weight: bold; }

.nav-form {
  margin-left: auto;
  margin-right: 61px;
  height: 34px;
  width: 268px;
  display: flex;
  align-content: center;
  position: relative;
  display: flex;
  justify-content: flex-end; }
  .nav-form label {
    margin-left: auto;
    margin-top: 7px; }
  .nav-form #search {
    transition: all 300ms ease-out;
    height: 100%;
    background: none;
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 18px;
    color: #7F7F7F;
    opacity: 0;
    width: 0;
    border: none; }
    .nav-form #search:focus {
      opacity: 1;
      width: 232px;
      margin-left: 10px;
      outline: none; }
    .nav-form #search:focus + .input-border {
      transition: all 600ms ease-out;
      border: 1px solid #fff;
      position: absolute;
      width: 100%;
      height: 100%; }

#cover {
  position: relative;
  font-family: Helvetica; }

.movie-title {
  margin-top: 186.69px;
  margin-left: 61px;
  display: inline-block; }

.head-buttons {
  margin-top: 21px;
  margin-left: 58px;
  margin-bottom: 16px; }

.head-info {
  color: #fafdfc; }
  .head-info .head-title {
    margin-left: 59px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.22px;
    line-height: 26px; }
  .head-info .head-bio {
    margin-left: 58px;
    margin-top: 3px;
    max-width: 485px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 25px; }

.head-label {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 436px;
  max-width: 95px;
  padding: 8px 58px 5px 13px;
  color: #fafdfc;
  background-color: #252928;
  border-left: 3px solid #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16px;
  line-height: 19px; }

.originals {
  margin-top: 104px; }
  .originals header h2 {
    margin-left: 58px;
    color: #fafdfc;
    font-family: Helvetica;
    font-size: 20px;
    letter-spacing: 0.16px;
    line-height: 24px;
    text-transform: uppercase; }

.originals-covers {
  display: flex;
  max-width: 100%;
  height: 433px;
  margin-top: 10px;
  overflow-x: scroll;
  overflow-y: hidden; }
  .originals-covers article {
    position: relative;
    margin-right: 5px;
    height: 433px; }
    .originals-covers article:hover .cover-info {
      opacity: 1;
      z-index: 2; }
    .originals-covers article:first-child {
      margin-left: 58px; }

.cover-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 11px 18px 11px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fafdfc;
  font-family: Helvetica;
  transition: opacity 500ms ease-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: -1; }
  .cover-info a {
    width: 36px;
    height: 36px; }
  .cover-info .cover-title {
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 19px;
    margin-top: 8px; }
  .cover-info .cover-details {
    line-height: 17px;
    vertical-align: bottom;
    margin-top: 6px;
    box-sizing: border-box; }
    .cover-info .cover-details .match {
      color: #46D36A;
      font-size: 14px;
      letter-spacing: 0.4px;
      margin-top: 2px; }
    .cover-info .cover-details .rating {
      font-size: 14px;
      border: 1px solid rgba(255, 255, 255, 0.41);
      padding: 0 6px 2px 6px;
      margin: 0 4px 0 2px;
      box-sizing: border-box; }
    .cover-info .cover-details .duration {
      font-size: 14px;
      margin-top: 2px; }
  .cover-info .cover-bio {
    margin-top: 6px;
    font-size: 14px;
    line-height: 18px; }

iframe {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0; }

.icon-back {
  position: absolute;
  top: 75px;
  left: 30px;
  width: 54px;
  height: 54px; }

/*# sourceMappingURL=styles.css.map */
