nav
  position: fixed
  top: 0
  z-index: 999
  width: 100%
  min-height: 68px
  display: flex
  flex-wrap: wrap
  align-items: center
  background-color: rgba($bg-main, .3)
  transition: all 400ms ease-in-out
  &:hover
    background-color: rgba($bg-main, .8)
  .logo
    padding-left: 58px
    padding-right: 45px
    height: 24.86px

.nav-links
  width: 380px
  display: flex
  justify-content: space-between
  @media (max-width: 900px)
    display: none
  li
    list-style: none
    a
      text-decoration: none
      +typo($size: 15px, $weight: normal)
    & a:hover
      opacity: 0.6
    &.nav-selected a
      +typo($size: 15px, $weight: bold)

.nav-responsive-links
  display: none
  @media (max-width: 900px)
    display: flex
    padding: 25px
    +typo($size: 15px, $weight: bold)
    &:hover .responsive-links
      display: flex
      flex-direction: column
      z-index: 999
    .responsive-links
      display: none
      position: absolute
      top: 68px
      transform: translatex(-25%)
      background-color: $bg-main
      list-style: none
      li
        text-align: center
        padding: 15px 50px
      li.responsive-active a
        +typo($size: 15px, $weight: bold)
      li:hover
        background-color: $bg-soft
      a
        text-decoration: none
        +typo($size: 15px, $weight: normal)

.nav-form
  margin-left: auto
  margin-right: 59px
  height: 34px
  width: 268px
  display: flex
  align-content: center
  position: relative
  display: flex
  justify-content: flex-end
  @media (max-width: 630px)
    margin: 15px calc((100vw - 268px) / 2)
    // margin-right: 25%
    width: 268px
    .input-border
      position: absolute
      width: 268px
      height: 100%
      border: 1px solid #fff
      z-index: -1
  label
    margin: 7px 2px 0 auto
  #search
    @media (max-width: 630px)
      opacity: 1
      width: 232px
      margin-left: 10px
      outline: none
    transition: all 300ms ease-out
    height: 100%
    background: none
    +typo($size: 15px, $space: -0.2px, $line: 18px, $color: 'soft')
    opacity: 0
    width: 0
    border: none
    &:focus
      opacity:  1
      width: 232px
      margin-left: 10px
      outline: none
    &:focus+.input-border
      transition: all 600ms ease-out
      border: 1px solid #fff
      position: absolute
      width: 100%
      height: 100%
      z-index: -1

