nav
  position: fixed
  top: 0
  z-index: 999
  width: 100%
  height: 68px
  background-color: rgba(0, 0, 0, 0)
  display: flex
  align-items: center
  .logo
    padding-left: 58px
    padding-right: 45px
    height: 24.86px

.nav-links
  width: 380px
  display: flex
  justify-content: space-between
  li
    list-style: none
    a
      color: map-get($font-colors, 'default')
      text-decoration: none
      font-family: map-get($font-fams, 'default')
      font-size: 15px
      font-weight: normal
    & a:hover
      opacity: 0.6
    &.nav-selected a
      font-weight: bold

.nav-form
  margin-left: auto
  margin-right: 59px
  height: 34px
  width: 268px
  display: flex
  align-content: center
  position: relative
  display: flex
  justify-content: flex-end
  label
    margin: 7px 2px 0 auto
  #search
    transition: all 300ms ease-out
    height: 100%
    background: none
    font-size: 15px
    letter-spacing: -0.2px
    line-height: 18px
    color: #7F7F7F
    opacity: 0
    width: 0
    border: none
    &:focus
      opacity:  1
      width: 232px
      margin-left: 10px
      outline: none
    &:focus+.input-border
      transition: all 600ms ease-out
      border: 1px solid #fff
      position: absolute
      width: 100%
      height: 100%
      z-index: -1
