%header-button
  font-size: 16px
  font-weight: bold
  letter-spacing: 0.22px
  line-height: 19px
  padding: 11px 36px
  margin-right: 8px
  border-radius: 3px
  border: none
  background-color: $btn-bg-default
  transition: all 400ms ease-out
  a
    text-decoration: none
    color: map-get($font-colors, 'default')
  img
    margin-right: 4px
    &:last-child
      display: none
  &:hover
    img:first-child
      display: none
    img:last-child
      display: inline-block
  &:hover
    background-color: $btn-bg-hover
    a
      color: map-get($font-colors, 'dark')