=typo($family: 'Helvetica', $size: 1rem, $weight: normal, $line: null, $space: null, $color: 'default')
  color: map-get($font-colors, $color)
  font-family: $family
  font-size: $size
  font-weight: $weight
  line-height: $line
  letter-spacing: $space

=progress-calc()
  @for $i from 0 through 100
    &-#{$i}
      width: get-width-from-percent($i)
      height: 4px
      background-color: $bg-accent