// Color variables
$bg-main: #141414
// Button colors
$btn-bg-default: rgba(51, 51, 51, 0.4)
$btn-bg-hover: #e6e6e6

// Typography variables
$font-colors: ( 'default': #fafdfc, 'match': #46D36A, 'dark': #000)

$font-fams: ('default': Helvetica)

